.categories-item {
    /* width: 130px; */
    /* height: 130px; */
    border: none;
    color: #46b3e6;
    background-color: #161252;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 0.8rem;
    margin: 5px;
    flex: 0 0 1;
    width: 130px;
    height: 140px;
}

.categories-item:hover {
    text-decoration: none;
    color: #8ed5f6;
    background-color: #161252b6;
}

.categories-item:active {
    transform: translateY(1px) translateX(1px);
}


.categories-item img {
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
}


.categories-item p {
    padding-top: 5px;
}

.categories-selected {
    background-color: #46b3e6;
    color: #060420b6;
    font-weight: bold;
}